.delpad{
	padding: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.list{
	height: 410px;
	background-color: #eeeeee;
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 20px;
	/*margin-top: 10px;*/
}

.title{
	height: 50px;
	/*background-color: #444;*/
	
}

.content{
	height: 336px;
	/*background-color: #666;*/
}

.title-box{
	height: 50px;
}

.title-sort{
	font-size: 1.8em;
	color: #233;
	font-weight: 540;
	padding-bottom: 0px;
}

.title-content{
	color: #a8a;


}
.lazy-img{
	height: 130px;
	width: 180px;
}

.store-box{
	height: 386px;
}

.list-content{
	/*height: 28px;*/
	border-bottom:1px solid #ccc;
	padding-bottom: 10px;
}
.pic{
	height: 130px;
}