.delpad{
	padding: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.list{
	height: 410px;
	background-color: #eeeeee;
}

.title{
	height: 50px;
	/*background-color: #444;*/
	
}

.content{
	height: 336px;
	/*background-color: #666;*/
}

.title-box{
	height: 50px;
}

.title-sort{
	font-size: 1.8em;
	color: #233;
	font-weight: 540;
	padding-bottom: 0px;
}

.title-content{
	color: #a8a;

}
.lazy-img{
	height: 100px;
	width: 160px;
}

.store-box{
	height: 386px;
}
